@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.testimonials {
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    text-align: left;
    width: 100%;
    border-radius: 1rem;
    background-color: #f5f5f5;
    padding: 2rem;
    color: $primary-alt;
    @include tablet {
      width: 45%;
    }
    @include desktop {
      width: 30%;
    }
  }
  &__attribution {
    font-weight: 600;
    width: 90%;
  }
  &__icon {
    position: absolute;
    bottom: 20%;
    right: 10%;
  }
}
