@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin site-margins {
  padding-left: 2rem;
  padding-right: 2rem;
  @include tablet {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
