@font-face {
  font-family: SUSE;
  src: url(./assets/fonts/SUSE-100.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: SUSE;
  src: url(./assets/fonts/SUSE-400.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: SUSE;
  src: url(./assets/fonts/SUSE-600.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Spectral;
  src: url(./assets/fonts/Spectral-200.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Spectral;
  src: url(./assets/fonts/Spectral-300.ttf);
  font-style: normal;
  font-weight: 300;
}
