// https://coolors.co/7eb1cb-3f536a-f5f5f5-ff8a5b

$text-light: whitesmoke;
$text-dark: rgb(51, 51, 51);
$primary: #7eb1cb;
$primary-light: #8bb9d0;
$primary-alt: #3f536a;
$secondary: #ff8a5b;
$secondary-alt: #c96e4b;
