@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.quote {
  &__text {
    color: $text-dark;
    @include tablet {
      padding: 0 15%;
    }
    @include desktop {
      padding: 0 30%;
    }
    & h2 {
      font-size: 1.25rem;
      @include tablet {
        font-size: 1.5rem;
      }
    }
    & h3 {
      font-style: italic;
      font-weight: 400;
      padding-bottom: 0.5rem;
    }
  }
  &__read-more {
    padding-top: 1rem;
    display: inline-block;
    transition: transform 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__link {
    color: $text-dark;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      color: $primary-alt;
    }
  }
}
