@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.top-section {
  @include site-margins;
  &__testimonials {
    background-image: url("../../assets/dk-hero-lrg-add-bg.jpg");
    min-height: 35vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }
}
.testimonials {
  &__headline {
    text-align: center;
    font-weight: 100;
    font-size: 3rem;
    padding: 1rem 0;
    @include tablet {
      font-size: 4rem;
      padding: 2rem 0;
    }
  }
  &__list {
    @include site-margins;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../assets/abstract.jpg");
      background-size: cover;
      background-repeat: repeat;
      opacity: 0.1;
      z-index: -1;
    }
  }
}
