@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.top-section {
  @include site-margins;
  &__about {
    background-image: url("../../assets/podium.JPG");
    min-height: 66vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.main {
  &__single-photo {
    width: 100%;
  }
}
