@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    @include site-margins;
  }
  &__marquee {
    display: flex;
    overflow: hidden;
    animation: scroll 40s linear infinite;
  }
  &__logo {
    padding: 0 2rem;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
