@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  &__logo {
    padding-top: 1rem;
    height: 5rem;
    @include tablet {
      height: 9rem;
    }
  }
  &__nav {
    &--standard {
      display: none;
      @include tablet {
        display: block;
      }
    }
    &--mobile {
      @include tablet {
        display: none;
      }
    }
  }
}
