@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    height: 7.5rem;
    @include tablet {
      height: 10rem;
    }
  }
  &__nav {
    &--standard {
      display: none;
      @include tablet {
        display: block;
      }
    }
    &--mobile {
      @include tablet {
        display: none;
      }
    }
  }
}
