@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.top-section {
  @include site-margins;
  &__coaching {
    background-image: url("../../assets/dennis-headshot-hero.jpg");
    min-height: 66vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.coaching {
  @include site-margins;
  padding-bottom: 2rem;
  &__headline {
    text-align: center;
    font-weight: 100;
    font-size: 3rem;
    padding: 1rem 0;
    @include tablet {
      font-size: 4rem;
      padding: 2rem 0;
    }
  }
  &__content {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      gap: 6rem;
    }
    &-text {
      line-height: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        font-size: 1.25rem;
        width: 50%;
      }
    }
    &-gallery {
      @include tablet {
        width: 50%;
      }
    }
  }
  &__single-photo {
    width: 100%;
  }
}
