@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.video {
  // // position: absolute;
  // top: 0;
  // left: 0;
  background-color: $primary-alt;
  width: 400px;
  height: 300px;
  @include tablet {
    width: 800px;
    height: 600px;
  }
  &__wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../assets/abstract.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.15;
      z-index: -1;
    }
  }
}
