@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.container {
  padding: 0 4rem;
}

.top-section {
  @include site-margins;
  background-image: url("../../assets/dk-hero-lrg.jpg");
  min-height: 66vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main {
  @include site-margins;
  padding-bottom: 2rem;
  &__headline {
    text-align: center;
    font-weight: 100;
    font-size: 4rem;
    padding: 2rem 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    &-text {
      width: 50%;
      font-size: 1.25rem;
      line-height: 2;
    }
    &-gallery {
      width: 50%;
    }
  }
}

.quote {
  @include site-margins;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: $primary;
}
