@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.mobile-nav {
  &__open {
    color: $text-light;
    transition: transform 1s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      color: rgb(206, 206, 206);
    }
  }
}
