@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.mobile-nav {
  &__open {
    color: $text-light;
    transition: transform 1s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      color: rgb(206, 206, 206);
    }
  }
  &__list {
    background-color: $text-light;
    padding: 1rem 0;
    list-style: none;

    &-item {
      text-align: center;
      &:hover,
      :active {
        background-color: rgb(206, 206, 206);
      }
    }
  }
  &__link {
    padding: 1.5rem;
    display: inline-block;
    color: $text-dark;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    font-weight: 700;
    &:hover,
    :active {
      color: $primary-alt;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    background-color: $text-light;
    padding-bottom: 1.5rem;
  }
}
